<h3>Search Page</h3>

<p>Search for a professor to see their reviews.</p>

<section>
  <div class = "feedback-form">
    <div class = "form-body">
      <form method="POST" feedbackForm = "form">
        <div class = "form-group">
          <label>Professor Last Name: </label>
          <input class = "form-control" name = "lastName" id = "lastName">
          <label>Professor First Name: </label>
          <input class = "form-control" name = "firstName" id = "firstName">
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-success">Search</button>
    </div>
  </section>
