<h3 class = "">Rate My Professor Wellesley Edition</h3>

<br />
<p class = "description"><i>Have you ever wanted to know what a professor is like before registering for their course?
  Have you ever been conflicted about which course to take to fill a distribution requirement?</i>

Welcome to Wellesley’s own Rate My Professor! Where you can read and write reviews about Wellesley’s courses and professors!
</p>

<span>Log in or Sign Up</span> <a href="/addprofreview" class="btn btn-primary">Here</a>
