<div class = "container-home">

  <img class = "logo" src="stylesheets/wellesleyrates.png", alt="ABOUT_WELLESLEYRATES">

  <br />
  <p class = "description">

    Discover student opinion on professors before course registration.
    Contribute your thoughts. Engage with your community.


    <br />
    <br />

    Welcome to WellesleyRates, an site designed to anonymously read and write reviews
    on Wellesley faculty.
  </p>
  <br />
  <center>
    <span><b>Log in or Sign Up </b></span>
    <a href="/addprofreview" class="btn btn-primary">Here</a>
  </center>
</div>
