<h3>Rate My Professor Wellesley Edition</h3>

<br />
<p> Have you ever wanted to know what a professor is like before registering for their course?
  Have you ever been conflicted about which course to take to fill a distribution requirement?

Welcome to Wellesley’s own Rate My Professor! Where you can read and write reviews about Wellesley’s courses and professors!
</p>

<span>Log in or Sign Up</span> <a href="/protected" class="btn btn-primary">Here</a>
