<h3>Welcome!</h3>
<section>
  <div class = "feedback-form">
    <div class = "form-body">
      <form method="POST" feedbackForm = "form">
        <div class = "form-group">
          <label>Professor Last Name: </label>
          <input class = "form-control" name = "lastName" id = "lastName">
          <label>Professor First Name: </label>
          <input class = "form-control" name = "firstName" id = "firstName">
          <label class="comment">General Feedback:</label>
          <textarea class="form-control" rows="5" name = "comment" id="comment"></textarea>
          <span class = "scale-rate" id = "difficulty">
            <p id = "difficulty">Difficulty</p>
            <div class = "radio-inline">
              <label class="radio-inline"><input type="radio" value=1 name="difficulty">1</label>
            </div>
            <div class = "radio-inline">
              <label class="radio-inline"><input type="radio" value=2 name="difficulty">2</label>
            </div>
            <div class = "radio-inline">
              <label class="radio-inline"><input type="radio" value=3 name="difficulty">3</label>
            </div>
            <div class = "radio-inline">
              <label class="radio-inline"><input type="radio" value=4 name="difficulty">4</label>
            </div>
            <div class = "radio-inline">
              <label class="radio-inline"><input type="radio" value=5 name="difficulty">5</label>
            </div>
          </span>
          <span class = "scale-rate" id = "effective">
            <p id = "effective">Effectiveness</p>
            <div class = "radio-inline">
              <label class="radio-inline"><input type="radio" value=1 name="effective">1</label>
            </div>
            <div class = "radio-inline">
              <label class="radio-inline"><input type="radio" value=2 name="effective">2</label>
            </div>
            <div class = "radio-inline">
              <label class="radio-inline"><input type="radio" value=3 name="effective">3</label>
            </div>
            <div class = "radio-inline">
              <label class="radio-inline"><input type="radio" value=4 name="effective">4</label>
            </div>
            <div class = "radio-inline">
              <label class="radio-inline"><input type="radio" value=5 name="effective">5</label>
            </div>
          </span>
          <span class = "scale-rate" id = "respect">
            <p id = "effective">Respectfulness</p>
            <div class = "radio-inline">
              <label class="radio-inline"><input type="radio" value=1 name="respect">1</label>
            </div>
            <div class = "radio-inline">
              <label class="radio-inline"><input type="radio" value=2 name="respect">2</label>
            </div>
            <div class = "radio-inline">
              <label class="radio-inline"><input type="radio" value=3 name="respect">3</label>
            </div>
            <div class = "radio-inline">
              <label class="radio-inline"><input type="radio" value=4 name="respect">4</label>
            </div>
            <div class = "radio-inline">
              <label class="radio-inline"><input type="radio" value=5 name="respect">5</label>
            </div>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-success">Submit</button>
    </div>
  </section>


<br />
