<h3>Welcome!</h3>
<p>Welcome to your {{username}}. You can search for a class or professor to see reviews or leave feedback.</p>

<p>You are {{username}}</p>

<p>search bar</p>

<h4>Feed Backform</h4>
<section>
  <div class = "feedback-form">
    <div class = "form-body">
      <form feedbackForm = "form">
        <div class = "form-group">
          <label>Professor Last Name: </label>
          <input class = "form-control" name = "lastName" id = "lastName">
          <label>Professor First Name: </label>
          <input class = "form-control" name = "firstName" id = "firstName">
          <label class="comment">General Feedback:</label>
          <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-success">Submit</button>
    </div>
  </section>


<br />

<a href="/logout" class="btn btn-primary">Logout</a>
